.parent {
    width: 100%;
    height: 600px;
    background-color: antiquewhite;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: 80px 400px 80px;
}
.box{
    width: 100px;   
    height: 100px;
    text-align: center;
}
.box:nth-of-type(1){
    background-color: aqua;
    grid-column: span 12;
}
.box:nth-of-type(2){
    background-color: red;
    grid-column: span 2;
}
.box:nth-of-type(3){
    background-color: green;
    grid-column: span 8;
}
.box:nth-of-type(4){
    background-color: gray;
    grid-column: span 2;
}
.box:nth-of-type(5){
    background-color: yellow;
    grid-column: span 12;
}